<div>
  <%= render "comments/comment", comment: comment %>
  <%= link_to "Edit this comment", edit_post_comment_path(comment) %> |
  <%= button_to "Delete", post_comment_path(comment: comment, post_id: @post), method: :delete %>
</div>
